@font-face {
    font-family: 'pt';
    src: url(../font/apercu-light-pro.woff2) format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'pt';
    src: url(../font/apercu-regular-pro.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'pt';
    src: url(../font/apercu-medium-pro.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'pt';
    src: url(../font/apercu-bold-pro.woff2) format('woff2');
    font-weight: 700;
}